map
map.small.snip
map.snip
*.pyc
~*.docx
*.tmp
.Rhistory
C751-DataAnalysisR/README.md
settings.json

**/maildir/**/*
**/emails_by_address/**/*
enron_mail*


**/your_word_data.pkl
**/your_email_authors.pkl
**/my_classifier.pkl
**/my_dataset.pkl
**/my_feature_list.pkl
**/pickle_jar/*pkl
**/final_project_dataset_cleaned*.pkl
**/*pkl

trash

**/*.csv.bz2
**/*.csv
!**/carriers.csv
!**/airports.csv

**/testrun*